@import '//fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono';
.banner, ul.nav li.active a, ul.nav li.open a.dropdown-toggle {
  background-color: #2D74DC !important;
  color: #EBE5D1 !important;
}

body {
  margin-top: 30px;
  padding: 0;
  font-family: "Open Sans", Helvetica, Sans-Serif;
  background-color: #EBE5D1;
  color: #666;
}

a, a:hover {
  color: #2D74DC;
}

.small-caps {
  font-variant: small-caps;
}

.banner {
  text-align: center;
  padding: 1em;
}

.banner-img {
  width: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

h1 {
  font-family: "Roboto Mono", "Courier New", Monospace;
}

h2, h3 {
  font-size: 200%;
}

h4 {
  font-size: 150%;
}

p.lead {
  font-weight: 400;
  font-size: 150%;
}

.nopad {
  margin: 0;
  padding: 0;
}

nav.navbar, .dropdown-menu {
  background-color: #444;
}

ul.nav a {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #EBE5D1 !important;
}

ul.nav a:hover {
  background-color: #EBE5D1 !important;
  color: #444 !important;
}

.row {
  margin-right: 0px;
}

.about-me, .code-logos {
  padding: 1.5em;
  font-size: 150%;
}

.code-logos img {
  width: 200px;
}

.folio {
  color: #EBE5D1;
  background-color: #444;
  padding: 1.5em;
  font-size: 150%;
}

.folio-entry {
  border-top: 1px dashed #EBE5D1;
  padding-top: 10px;
  height: 190px;
}

img.folio-shot {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  opacity: 0.3;
  vertical-align: middle;
  border-radius: 5px;
}

img.folio-shot:hover {
  opacity: 1;
  width: 220px;
  height: 170px;
}

.top-dash {
  border-top: 1px dashed #EBE5D1;
}

.contact-me {
  padding: 0.5em;
  font-size: 150%;
}

.contact-me a {
  color: #666;
}

ul.contact-list li {
  list-style: none;
  line-height: 2.5;
}

.footer {
  background-color: #444;
  color: #999;
  padding: 2em;
}

.whoo {
  color: #555;
}
