//output:wiki.html
doctype html
html(lang="en")
    head  
        title Wikipedia Viewer
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        link(rel="stylesheet" href="wiki.min.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")    
    body
        main.center
            h1 Simple Wikipedia Viewer
            p
                a(href="https://en.wikipedia.org/wiki/Special:Random" target="_blank") Random Wikipedia Article
            form#searchform
                | Search:
                input(type="text" id="searchQuery")        
            #articleList
            script(src="wiki.js")
