$bg-color: #fff
$h2-color: #3d7796
$main-font: "Liberation Sans", "Nimbus Sans", Arial, Helvetica, sans-serif

body.main 
  background-color: $bg-color
  font-family: $main-font

main
  padding: 5px

h1, h2, h3, h4
  font-weight: normal

h2
  padding-left: 15px
  padding-top: 3px
  padding-bottom: 3px
  padding-right: 20px
  margin-left: -20px
  display: inline
  border-top-right-radius: 0.3em
  border-bottom-right-radius: 0.3em
  background-color: $h2-color
  color: $bg-color