body {
    background-color: #fff;
    font-family: "Roboto Slab", Times New Roman, Serif;
    color: #f00;
}
.quote-box {
    margin-top: 200px;
    background-color: #f00;
    color: #fff;
    width: 40%;
    border-radius: 5px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 60px;
}
@media (max-width: 1000px) {
  .quote-box {
    width: 90%;
  }
}
.quote {
    font-size: 2em;
}
.button {
    background: #fff;
    color: #f00;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    opacity: 0.7;
}
.button a {
    color: #f00;
    text-decoration: none;
}
.button:hover {
    cursor: pointer;
}
.buttonNewQuote {
    width: 160px;
    height: 30px;
}
.buttonFa {
    width: 30px;
    height: 30px;
}
#tweetQuote {
    display: none;
}

.footer {
  padding: 2em;
}
