//output:index.html
doctype html
html(lang="en")
  head
    title Check Out These Twitch Channels
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="twitch.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="twitch.js") 
  body
